body {
	background-color: red;
}


img {
	height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
}

article {
	border: 1px solid lightblue;
}

h2 {
	border: 1px solid lightgray;
}

.border-box {
	display: inline-flex;
	flex-basis: auto;
}